@charset "UTF-8";
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

section {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* IR 효과 */
.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
} /* 의미있는 이미지의 대체 텍스트를 제공하는 경우(Phark Method) */
.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
} /* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때(WA IR) */
.ir_so {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
} /* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */
/* clearfix를 쓰는이유
     서브 메뉴가 있을수 있으므로  overflow: hidden 은 쓰지 않는다 <-서브메뉴가 가려지기 때문*/
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: block;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

@keyframes opLv {
  0%, 100% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes opLv {
  0%, 100% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@font-face {
  font-family: "JSDongkang-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body,
a,
button,
p,
strong {
  font-family: "JSDongkang-Regular", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  color: #caa623;
}

.openPdf {
  font-family: "JSDongkang-Regular", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: #caa623;
  font-weight: bold;
}

@keyframes opLv {
  0%, 100% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
#header .navBar {
  width: 100%;
  position: fixed;
  border-top: 3px dashed #caa623;
  background-color: #1c1b18;
  z-index: 6;
}
#header .navBar .navUl {
  text-align: center;
  display: none;
  border-bottom: 3px dashed #caa623;
}
#header .navBar .navUl li {
  display: inline-block;
  padding: 25px;
}
#header .navBar .navUl li .on a {
  background-color: #fff;
  color: black;
}
#header .navBar .navUl li #clickThis {
  position: relative;
}
#header .navBar .navUl li #clickThis::before {
  position: absolute;
  width: 0%;
  bottom: -7px;
  left: 50%;
  right: 50%;
  border-bottom: 2px dashed #caa623;
  content: "";
  transition: all 1s;
  opacity: 0;
}
#header .navBar .navUl li #clickThis:hover::before {
  width: 100%;
  opacity: 1;
  left: 0;
  right: 0;
}
#header .navBar .navUl li #clickThis .divide {
  word-spacing: -8px;
}

.mobileNav {
  position: fixed;
  top: -100%;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  transition: top 0.5s ease-in-out;
}
.mobileNav.active {
  top: 0;
}
.mobileNav .navUl {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(36, 34, 31, 0.9);
  border: 3px dashed #caa623;
}
.mobileNav .navUl li {
  padding: 15px 0;
}
.mobileNav .navUl li a {
  font-size: 30px;
  font-weight: 700;
}

.moBtn {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 0;
  z-index: 300;
  cursor: pointer;
  background-color: #1c1b18;
  border: none;
}
.moBtn.active {
  top: 25px;
  right: 20px;
  width: 15px;
  height: 15px;
}
.moBtn.active .ham {
  gap: 0px;
}
.moBtn.active .ham .line {
  width: 20px;
}
.moBtn.active .ham .line:nth-child(1) {
  top: 5px;
  transform: translateY(2px) rotate(45deg);
}
.moBtn.active .ham .line:nth-child(2) {
  display: none;
}
.moBtn.active .ham .line:nth-child(3) {
  transform: rotate(-45deg);
  top: 5px;
}
.moBtn .ham {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 100%;
}
.moBtn .ham .line {
  width: 15px;
  border-bottom: 2px solid #caa623;
  transition: all 0.3s;
}
.moBtn .ham .first {
  top: 0;
}
.moBtn .ham .middle {
  top: 5px;
}
.moBtn .ham .end {
  top: 10px;
}
.moBtn .ham.active {
  gap: 0;
}
.moBtn .ham.active .line:nth-child(1) {
  top: 5px;
  transform: translateY(2px) rotate(45deg);
}
.moBtn .ham.active .line:nth-child(2) {
  display: none;
}
.moBtn .ham.active .line:nth-child(3) {
  transform: rotate(-45deg);
  top: 5px;
}

@keyframes opLv {
  0%, 100% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
#intro {
  min-width: 280px;
  border-bottom: none;
  border-top: none;
}
#intro .introWrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "JSDongkang-Regular", sans-serif;
  color: var(--fontC);
  flex-direction: column;
  font-size: 30px;
  color: #caa623;
  animation: opLv 3s ease-in-out infinite;
}
#intro .introWrap h2 {
  padding-bottom: 20px;
}
#intro .introWrap .typeText {
  height: 50px;
}
#intro .introWrap .typeText::after {
  font-size: 38px;
  content: "|";
  animation: none;
}
#intro .introWrap .showAnim.typeText::after {
  animation: blink 1s step-end infinite;
}
#intro .scrollDown {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  animation: opLv 3s ease-in-out infinite;
}
#intro .scrollDown a {
  font-size: 14px;
}
#intro .scrollDown a i {
  padding: 10px;
  transform: scale(1);
  animation: bubble 1.5s ease-in infinite;
}

@keyframes bubble {
  0% {
    transform: scale(1);
    padding-bottom: 10px;
  }
  50% {
    transform: scale(1.3);
    padding-bottom: 20px;
  }
  100% {
    transform: scale(1);
    padding-bottom: 10px;
  }
}
@keyframes bubbleHalf {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}
@keyframes opLv {
  0%, 100% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
#contents {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  min-width: 280px;
  width: 100%;
  padding: 0 30px;
  min-height: 960px !important;
}
#contents .category {
  position: absolute;
  top: 140px;
  left: 50%;
  gap: 20px;
  transform: translate(-50%);
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
#contents .category button {
  background-color: transparent;
  border: 3px dashed #caa623;
  cursor: pointer;
}
#contents .pageWrap {
  display: grid;
  padding-top: 110px;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(25%, 1fr));
  grid-gap: 20px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  height: 80%;
  height: 70%;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}
#contents .pageWrap .page {
  position: relative;
  text-align: center;
}
#contents .pageWrap .page:hover .title {
  opacity: 0;
  left: 20%;
}
#contents .pageWrap .page:hover img {
  opacity: 0.6;
  transition: all 0.5s;
}
#contents .pageWrap .page:hover .pageDetail .buttonWrap {
  opacity: 0.7;
  background-color: black;
}
#contents .pageWrap .page .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  z-index: 5;
  display: inline-block;
}
#contents .pageWrap .page .title h3 {
  font-size: 30px;
  text-decoration: none;
  transition: all 0.2s;
}
#contents .pageWrap .page .title h3:visited {
  color: #caa623;
}
#contents .pageWrap .page .title h3:hover {
  cursor: default;
}
#contents .pageWrap .page .pageDetail {
  border: 3px dashed #caa623;
  border-radius: 12px;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#contents .pageWrap .page .pageDetail img {
  width: 100%;
  opacity: 0.3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#contents .pageWrap .page .pageDetail .buttonWrap {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
}
#contents .pageWrap .page .pageDetail .buttonWrap .detailCard {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  float: left;
}
#contents .pageWrap .page .pageDetail .buttonWrap .detailCard em {
  font-size: 16px;
  display: block;
}
#contents .pageWrap .page .pageDetail .buttonWrap .openPdf {
  position: absolute;
  bottom: 0;
  transition-duration: 0.3s;
  width: 50%;
  height: 40px;
  background-color: transparent;
  border: none;
  text-align: center;
  box-shadow: 0px 7px 6px -1px rgba(0, 0, 0, 0.81);
}
#contents .pageWrap .page .pageDetail .buttonWrap .openPdf:has(:not(.firstBtn)) {
  width: 100%;
}
#contents .pageWrap .page .pageDetail .buttonWrap .openPdf:hover {
  background-color: #caa623;
  color: black;
  cursor: pointer;
}
#contents .pageWrap .page .pageDetail .buttonWrap .openPdf svg {
  display: none;
  fill: #caa623;
}
#contents .pageWrap .page .pageDetail .buttonWrap .firstBtn {
  left: 0;
}
#contents .pageWrap .page .pageDetail .buttonWrap .lastBtn {
  right: 0;
}
#contents .pageWrap .page .pageDetail .badge {
  position: absolute;
  right: 0;
  padding: 5px;
  border: 2px dashed #caa623;
  border-top: unset;
  border-right: unset;
  font-size: 15px;
  background-color: #1c1b18;
}

@media screen and (max-width: 393px) {
  #contents .pageWrap {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(5%, 1fr));
  }
}
@keyframes opLv {
  0%, 100% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
#footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top: none;
  text-align: center;
}
#footer .profileWrap {
  width: 100%;
  height: 70%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
#footer .profileWrap .profileL {
  display: flex;
  flex-flow: row wrap;
}
#footer .profileWrap .profileL .profilePhoto img {
  border-radius: 50%;
  width: 176px;
  height: 236px;
}
#footer .profileWrap .profileL .profileContact {
  padding: 50px 25px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
}
#footer .profileWrap .profileL .profileContact p {
  font-size: 16px;
  color: #caa623;
  padding: 5px 5px;
}
#footer .profileWrap .profileL .profileContact p:last-child a {
  font-size: 16px;
}
#footer .profileWrap .profileR .skills p {
  padding-bottom: 60px;
}
#footer .profileWrap .profileR .skills p span {
  font-size: 16px;
  color: var(--fontC);
  font-weight: bold;
}
#footer .profileWrap .profileR .skills .sphereChartWrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#footer .profileWrap .profileR .skills .sphereChartWrap .sphere {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: 0.3s;
}
#footer .profileWrap .profileR .skills .sphereChartWrap .sphere .skillTitle {
  width: 100%;
  height: 100%;
  display: inline-block;
}
#footer .profileWrap .profileR .skills .sphereChartWrap .sphere .skillTitle svg {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 35px;
  transform: translate(-50%, -190%);
  z-index: 1;
  fill: #caa623;
}
#footer .profileWrap .profileR .skills .sphereChartWrap .sphere .skillTitle strong {
  font-size: 12px;
  color: #caa623;
  vertical-align: top;
  font-weight: bold;
}
#footer .profileWrap .profileR .skills .sphereChartWrap .sphere .center {
  font-size: 16px;
  background-color: #1c1b18;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65px;
  height: 65px;
  line-height: 65px;
  border-radius: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

@keyframes opLv {
  0%, 100% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
#fixedWrap {
  z-index: 6;
}
#fixedWrap .iconBtn {
  background: url(/public/src/resources/images/screenShot/upArrow.png) no-repeat center center;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  position: fixed;
  border: none;
  cursor: pointer;
}
#fixedWrap #upicon {
  right: 15px;
  transform: rotateX(0deg);
  bottom: 55px;
}
#fixedWrap #downicon {
  right: 15px;
  bottom: 20px;
  transform: rotateX(180deg);
}
#fixedWrap .fixed {
  position: fixed;
}
#fixedWrap .Top {
  width: 100%;
  top: 0;
  left: 0;
  border-top: 3px dashed #caa623;
}
#fixedWrap .Bottom {
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 3px dashed #caa623;
}
#fixedWrap .Left {
  height: 100vh;
  min-height: -webkit-fill-available;
  top: 0;
  left: 0;
  border-left: 3px dashed #caa623;
}
#fixedWrap .Right {
  height: 100vh;
  min-height: -webkit-fill-available;
  top: 0;
  right: 0;
  border-right: 3px dashed #caa623;
}

@keyframes opLv {
  0%, 100% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@media screen and (max-width: 767px) {
  #contents .pageWrap .page .title h3 {
    width: 82px;
    overflow: hidden;
    font-size: 14.34vw;
  }
}
@media screen and (max-width: 767px) {
  #contents .pageWrap .page .pageDetail .buttonWrap .openPdf {
    font-size: 2.0860495437vw;
  }
  #contents .pageWrap .page .pageDetail .buttonWrap .detailCard em {
    font-size: 2.0860495437vw;
  }
}
@media screen and (max-width: 653px) {
  #header .navBar .navUl li {
    padding: 3.6753445636vw;
  }
  #header .navBar .navUl li #clickThis {
    font-size: 3.6753445636vw;
  }
}
@media screen and (max-width: 481px) {
  #header .navBar {
    display: none;
  }
  #header .moBtn {
    display: block;
  }
}
@media screen and (max-width: 441px) {
  #footer .profileWrap .profileL {
    justify-content: center;
  }
  #footer .profileWrap .profileR .skills .sphereChartWrap {
    -moz-column-gap: 2.2675736961vw;
         column-gap: 2.2675736961vw;
  }
  #footer .profileWrap .profileR .skills .sphereChartWrap .sphere {
    width: 22.6757369615vw;
    height: 22.6757369615vw;
  }
  #footer .profileWrap .profileR .skills .sphereChartWrap .sphere .center {
    width: 14.7392290249vw;
    height: 14.7392290249vw;
    line-height: 14.7392290249vw;
    font-size: 3.6281179138vw;
  }
  #footer .profileWrap .profileR .skills .sphereChartWrap .sphere .skillTitle svg {
    width: 7.9365079365vw;
    height: 7.9365079365vw;
  }
}
@media screen and (max-width: 393px) {
  #contents {
    padding: 7.6335877863vw;
    min-width: 71.2468193384vw;
  }
  #contents .category {
    gap: 5.0890585242vw;
  }
  #contents .category > button {
    font-size: 6.106870229vw;
  }
  #contents .pageWrap {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(5%, 1fr));
  }
  #contents .pageWrap .page .title h3 {
    width: 100%;
    font-size: 6.106870229vw;
  }
  #contents .pageWrap .page .pageDetail .buttonWrap {
    z-index: 10;
  }
  #contents .pageWrap .page .pageDetail .buttonWrap .openPdf {
    top: 50%;
    bottom: unset;
    transform: translateY(-50%);
    height: 100%;
    font-size: 4.0712468193vw;
  }
  #contents .pageWrap .page .pageDetail .buttonWrap .detailCard em {
    display: none;
  }
  #contents .pageWrap .page .pageDetail .badge {
    display: flex;
    align-items: center;
    padding: 1.272264631vw;
    height: 100%;
    font-size: 3.8167938931vw;
    border-bottom: unset;
  }
}
html {
  background-color: #1c1b18;
}

body {
  min-width: 280px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}
body #section,
body #contents,
body #intro,
body #footer {
  width: 100%;
  min-width: 280px;
  height: 100vh;
  min-height: 1200px;
}
body #header {
  width: 100%;
  min-width: 280px;
  height: 75px;
}
body #intro {
  margin-top: -75px;
}
body #intro,
body #footer {
  height: 100vh;
  min-height: -webkit-fill-available;
}
body::-webkit-scrollbar {
  display: none;
}