@import "../base/common.scss";
#header {
  .navBar {
    display: none;
    width: 100%;
    position: fixed;
    border: 3px dashed $fontC;
    background-color: $black1;
    transition: all 0.3s;
    z-index: 6;
    ul {
      text-align: center;
      li {
        display: inline-block;
        padding: 25px;
      }
    }
  }
}
